@font-face {
  font-family: "iconfont"; /* Project id 5062583 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1762845150162') format('woff2'),
       url('iconfont.woff?t=1762845150162') format('woff'),
       url('iconfont.ttf?t=1762845150162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douyin:before {
  content: "\e681";
}

.icon-bilibili:before {
  content: "\eb78";
}

.icon-baidutieba:before {
  content: "\eb7a";
}

.icon-bilibili-off:before {
  content: "\e601";
}

